h1{
	text-align: center;
}

.basebutton { 
    width: 150px;
    
}

.delfighterbtn{
  width: 50px;
  position: absolute;
  left:30px;
  top: 120px;
}

.pasportcard {
    margin: auto;
    position: relative;
    min-width:250px;
    max-width: 450px;
	  margin-top:10px;
    background: #346d7d;
    height: auto;
	  display: flex;
	  top:10px;
	  border-radius: 10px;	
	  animation-duration: 1s;
    animation-iteration-count: 1;
}

.top_panel {
    margin: auto;
    position: relative;
    min-width:250px;
    max-width: 450px;
  	margin-top:10px;
    background: #ffffff;
    height: auto;
  	display: flex;
  	top:10px;
	  border-radius: 10px;	
	  animation-duration: 1s;
    animation-iteration-count: 1;
}

.imgs {
    position: relative;
    width:100px; 
    border-radius: 8px;
    border: 4px solid #9dbfc9;
    top: 75px;
    left:50%;
    margin-top:-55px;
    margin-left:-70px;
  }

.pasportimg {
    top: 10px; 
    width: 110px;
    height: auto;
    padding-right: 25px;
  }
  
  .pasportext{
    width: 75%;
  }

  .namefighter{    
    font-family: Verdana;
    padding-left: 15px;
    font-size: 12px;
    color: #ffffff;
  }

  .aboutfighter{    
    font-family: Verdana;
    padding-left: 15px;
    font-size: 10px;
    color: #c5f2ff;
  }

  .aboutepisodes{    
    font-family: Verdana;
    padding-left: 15px;
    font-size: 10px;
    color: #ffffff;
  }